In [1]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:300px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Pandas

In [3]:
import pandas as pd

## Read in the dataset

In [4]:
data = pd.read_table('data-zillow.csv', sep=',')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Filter columns by name using filter()

In [11]:
filtered_data = data.filter(items=['State', 'Metro'])
filtered_data.head()

  State                           Metro
0    NY                        New York
1    CA  Los Angeles-Long Beach-Anaheim
2    IL                         Chicago
3    PA                    Philadelphia
4    AZ                         Phoenix

## Filter columns by regular expression using filter()

In [12]:
filtered_data = data.filter(regex='Region', axis=1)
filtered_data.head()

   RegionID    RegionName
0      6181      New York
1     12447   Los Angeles
2     17426       Chicago
3     13271  Philadelphia
4     40326       Phoenix

## Filter data using boolean indexing

In [8]:
price_filter_series = data['Zhvi'] > 500000
price_filter_series.head()

0     True
1     True
2    False
3    False
4    False
Name: Zhvi, dtype: bool

In [9]:
data[price_filter_series].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
6,2017-05-31,54296,San Diego,CA,San Diego,San Diego,6,572100
8,2017-05-31,33839,San Jose,CA,San Jose,Santa Clara,8,877400
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300

## An alternative way to filter

In [10]:
data[data.Zhvi >= 1000000].head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300
181,2017-05-31,54626,Sunnyvale,CA,San Jose,Santa Clara,181,1509300
234,2017-05-31,13713,Santa Clara,CA,San Jose,Santa Clara,234,1071500
238,2017-05-31,16992,Berkeley,CA,San Francisco,Alameda,238,1102000
308,2017-05-31,13699,San Mateo,CA,San Francisco,San Mateo,308,1198300