In [23]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:300px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [24]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Pandas

In [41]:
import pandas as pd

## Read in the dataset

In [42]:
zillow = pd.read_table('data-zillow.csv', sep=',')

## Looking at the data

In [43]:
zillow.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Select single row, single column

In [44]:
zillow.loc[7, 'Metro']

'Dallas-Fort Worth'

In [45]:
zillow.iloc[7,4]

'Dallas-Fort Worth'

## Select single row, multiple columns

In [46]:
zillow.loc[7, ['Metro', 'County']]

Metro     Dallas-Fort Worth
County               Dallas
Name: 7, dtype: object

In [47]:
zillow.iloc[7, [4,5]]

Metro     Dallas-Fort Worth
County               Dallas
Name: 7, dtype: object

## Select single row, all columns

In [48]:
zillow.loc[11, :]

Date          2017-05-31
RegionID           10221
RegionName        Austin
State                 TX
Metro             Austin
County            Travis
SizeRank              11
Zhvi              321600
Name: 11, dtype: object

## Select multiple rows, single column

In [49]:
zillow.loc[101:105, 'Metro']

101                     Winston-Salem
102    Los Angeles-Long Beach-Anaheim
103                          Richmond
104             Miami-Fort Lauderdale
105                           Ventura
Name: Metro, dtype: object

## Select multiple rows and multiple contiguous columns

In [50]:
zillow.loc[201:204, "State":"County"]

    State                           Metro         County
201    OH                          Canton          Stark
202    LA                     New Orleans      Jefferson
203    CA       Santa Maria-Santa Barbara  Santa Barbara
204    CA  Los Angeles-Long Beach-Anaheim    Los Angeles

In [51]:
zillow.iloc[201:205, 3:6]

    State                           Metro         County
201    OH                          Canton          Stark
202    LA                     New Orleans      Jefferson
203    CA       Santa Maria-Santa Barbara  Santa Barbara
204    CA  Los Angeles-Long Beach-Anaheim    Los Angeles

## Select multiple rows and multiple non-contiguous columns

In [52]:
zillow.loc[201:205, ['RegionName', 'State']]

      RegionName State
201       Canton    OH
202     Metairie    LA
203  Santa Maria    CA
204    Inglewood    CA
205       Orange    CA


## Select multiple rows and all columns

In [53]:
zillow.loc[201:205, :]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
201,2017-05-31,51260,Canton,OH,Canton,Stark,201,94400
202,2017-05-31,5914,Metairie,LA,New Orleans,Jefferson,202,232700
203,2017-05-31,47570,Santa Maria,CA,Santa Maria-Santa Barbara,Santa Barbara,203,354600
204,2017-05-31,45888,Inglewood,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,204,470600
205,2017-05-31,33252,Orange,CA,Los Angeles-Long Beach-Anaheim,Orange,205,652000

## Select non-contiguous rows

In [54]:
zillow.loc[[0,5,10], :]

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500
10,2017-05-31,20330,San Francisco,CA,San Francisco,San Francisco,10,1194300


## Selecting rows based on a  specific column's value

In [55]:
zillow.loc[zillow.County=="Queens"]

         Date  RegionID RegionName State     Metro  County  SizeRank    Zhvi
0  2017-05-31      6181   New York    NY  New York  Queens         0  672400

## Selecting all rows for a specific column based on a value of another column

In [56]:

zillow.loc[zillow.Metro=="New York", "County"]

0             Queens
63             Essex
72            Hudson
138      Westchester
176          Passaic
225            Union
291        Middlesex
338            Ocean
387            Ocean
402          Passaic
406         Dutchess
521      Westchester
541            Ocean
564          Passaic
582           Hudson
591            Essex
611      Westchester
631           Hudson
651           Nassau
716           Hudson
727      Westchester
732           Nassau
735         Monmouth
750            Essex
760          Passaic
779            Ocean
781            Union
787        Middlesex
800           Orange
806        Middlesex
            ...
9591       Hunterdon
9614         Suffolk
9714         Suffolk
9732           Ocean
9777           Ocean
9791           Ocean
9805        Monmouth
9817           Ocean
9819        Monmouth
9820           Ocean
9860        Monmouth
9939       Hunterdon
10011          Ocean
10022        Suffolk
10113        Suffolk
10158        Suffolk
10173         Bergen
10203        Suffolk
10258          Ocean
10284         Sussex
10360          Ocean
10375        Suffolk
10383        Passaic
10408        Suffolk
10457        Suffolk
10495          Ocean
10589          Ocean
10700         Orange
10818         Nassau
10827      Hunterdon
Name: County, Length: 648, dtype: object