In [1]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:300px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Pandas

In [3]:
import pandas as pd

## Read in the dataset

In [4]:
zillow = pd.read_table('data-zillow.csv', sep=',')
zillow.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Simple sort

In [5]:
zillow.sort_values('Metro')

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
9851,2017-05-31,48458,Westport,WA,Aberdeen,Grays Harbor,9851,144600
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
5090,2017-05-31,35514,Hoquiam,WA,Aberdeen,Grays Harbor,5090,95700
9401,2017-05-31,33215,Ocean Shores,WA,Aberdeen,Grays Harbor,9401,152400
9149,2017-05-31,18370,Grayland,WA,Aberdeen,Grays Harbor,9149,143900
2073,2017-05-31,30116,Aberdeen,WA,Aberdeen,Grays Harbor,2073,127800
9859,2017-05-31,31062,Cosmopolis,WA,Aberdeen,Grays Harbor,9859,147400
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
8420,2017-05-31,19269,McCleary,WA,Aberdeen,Grays Harbor,8420,170700
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900
10535,2017-05-31,54766,Tuscola,TX,Abilene,Taylor,10535,237100
6823,2017-05-31,39752,Merkel,TX,Abilene,Taylor,6823,84300
8855,2017-05-31,8218,Baird,TX,Abilene,Callahan,8855,110100
5653,2017-05-31,44657,Clyde,TX,Abilene,Callahan,5653,126300
1762,2017-05-31,3310,Ada,OK,Ada,Pontotoc,1762,99800
9301,2017-05-31,50681,Allen,OK,Ada,Pontotoc,9301,80400
9265,2017-05-31,7270,Stonewall,OK,Ada,Pontotoc,9265,94500
10277,2017-05-31,44930,Diamond,OH,Akron,Portage,10277,147700
8292,2017-05-31,26725,Reminderville,OH,Akron,Summit,8292,188400
2196,2017-05-31,7510,Twinsburg,OH,Akron,Summit,2196,196100
10210,2017-05-31,40037,North Benton,OH,Akron,Portage,10210,120100
1907,2017-05-31,52591,Hudson,OH,Akron,Summit,1907,318600
6105,2017-05-31,13510,Richfield,OH,Akron,Summit,6105,263000
5609,2017-05-31,28946,Munroe Falls,OH,Akron,Summit,5609,151700
5051,2017-05-31,202994,Portage Lakes,OH,Akron,Summit,5051,116200
3544,2017-05-31,5746,Macedonia,OH,Akron,Summit,3544,193900
3235,2017-05-31,6254,Norton,OH,Akron,Summit,3235,135100
3982,2017-05-31,43493,Streetsboro,OH,Akron,Portage,3982,144300
1727,2017-05-31,5398,Kent,OH,Akron,Portage,1727,125900
5434,2017-05-31,35128,Atwater,OH,Akron,Portage,5434,161200
...,...,...,...,...,...,...,...,...
10625,2017-05-31,36951,Neskowin,OR,NaN,Tillamook,10625,372500
10629,2017-05-31,44925,Dewy Rose,GA,NaN,Elbert,10629,104800
10636,2017-05-31,24419,Dowelltown,TN,NaN,Dekalb,10636,106800
10642,2017-05-31,15086,Allardt,TN,NaN,Fentress,10642,138400
10657,2017-05-31,51538,Cooper,TX,NaN,Delta,10657,64300
10658,2017-05-31,8136,Coulee Dam,WA,NaN,Okanogan,10658,137000
10661,2017-05-31,7298,Suches,GA,NaN,Union,10661,193200
10666,2017-05-31,15699,Mazama,WA,NaN,Okanogan,10666,328100
10678,2017-05-31,49330,Flintville,TN,NaN,Lincoln,10678,98200
10679,2017-05-31,14139,Tiger,GA,NaN,Rabun,10679,165300
10701,2017-05-31,22845,Trezevant,TN,NaN,Carroll,10701,56300
10704,2017-05-31,7040,Shawneetown,IL,NaN,Gallatin,10704,66600
10707,2017-05-31,396967,Napier Township,PA,NaN,Bedford,10707,138700
10722,2017-05-31,29691,Llano,TX,NaN,Llano,10722,130500
10731,2017-05-31,5885,Meadowlakes,TX,NaN,Burnet,10731,231600
10732,2017-05-31,8060,Big Rock,TN,NaN,Stewart,10732,77600
10736,2017-05-31,5561,Laurel,IN,NaN,Franklin,10736,76800
10737,2017-05-31,8678,Finger,TN,NaN,McNairy,10737,82200
10747,2017-05-31,38522,Finland,MN,NaN,Lake,10747,161600
10752,2017-05-31,45973,Julian,NC,NaN,Guilford,10752,139600
10754,2017-05-31,49199,Granite Shoals,TX,NaN,Burnet,10754,140800
10757,2017-05-31,398839,Angels,CA,NaN,Calaveras,10757,283400
10758,2017-05-31,34883,Winter Park,CO,NaN,Grand,10758,325700
10762,2017-05-31,28121,Cottageville,SC,NaN,Colleton,10762,118700
10763,2017-05-31,29890,Mulberry,TN,NaN,Lincoln,10763,121600
10764,2017-05-31,35349,Fraser,CO,NaN,Grand,10764,274500
10768,2017-05-31,17816,Dresser,WI,NaN,Polk,10768,189900
10774,2017-05-31,34232,Tamworth,NH,NaN,Carroll,10774,164100
10822,2017-05-31,18317,Goldsboro,MD,NaN,Caroline,10822,175700
10825,2017-05-31,26077,Nehalem,OR,NaN,Tillamook,10825,392200

## Changing the sort order

In [6]:
sorted = zillow.sort_values('Metro', ascending=False)
sorted.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
8064,2017-05-31,19538,Nashport,OH,Zanesville,Muskingum,8064,153800
10271,2017-05-31,15262,Hopewell,OH,Zanesville,Muskingum,10271,138700
10373,2017-05-31,49730,Norwich,OH,Zanesville,Muskingum,10373,145100
5423,2017-05-31,53527,New Concord,OH,Zanesville,Muskingum,5423,138300
7595,2017-05-31,17815,Dresden,OH,Zanesville,Muskingum,7595,118400

## Sort by more than one column

In [7]:
sorted = zillow.sort_values(by=['Metro','County'])
sorted.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
2073,2017-05-31,30116,Aberdeen,WA,Aberdeen,Grays Harbor,2073,127800
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
5090,2017-05-31,35514,Hoquiam,WA,Aberdeen,Grays Harbor,5090,95700
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900

## Sort by multiple columns and mixed ascending order

In [8]:
sorted = zillow.sort_values(by=['Metro','County', 'Zhvi'], 
                            ascending=[True, True, False])
sorted.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
7108,2017-05-31,6275,Oakville,WA,Aberdeen,Grays Harbor,7108,186900
4568,2017-05-31,56078,Montesano,WA,Aberdeen,Grays Harbor,4568,182000
4996,2017-05-31,36873,Elma,WA,Aberdeen,Grays Harbor,4996,175200
8420,2017-05-31,19269,McCleary,WA,Aberdeen,Grays Harbor,8420,170700
9401,2017-05-31,33215,Ocean Shores,WA,Aberdeen,Grays Harbor,9401,152400

## Sort a Series

### Let's create a Series object

In [9]:
regions = zillow.RegionID
type(regions)

pandas.core.series.Series

### Let's sort the series

#### Original Series

In [10]:
regions.head()

0     6181
1    12447
2    17426
3    13271
4    40326
Name: RegionID, dtype: int64

#### Sorted

In [11]:
regions.sort_values().head()

3043    3301
4159    3304
4986    3305
1762    3310
3116    3312
Name: RegionID, dtype: int64