In [13]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:300px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [14]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Pandas

In [15]:
import pandas as pd

## Read in the dataset

In [16]:
data = pd.read_table('data-zillow.csv', sep=',')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

## Usage of axis parameter

In [25]:
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

In [17]:
data.axes

[RangeIndex(start=0, stop=10830, step=1),
 Index(['Date', 'RegionID', 'RegionName', 'State', 'Metro', 'County',
        'SizeRank', 'Zhvi'],
       dtype='object')]

## axis usage examples

## axis = 0

In [18]:
data.mean(axis=0)

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

## axis = 1

In [26]:
data.mean(axis=1).head()

0    226193.666667
1    214116.000000
2     80042.666667
3     50191.333333
4     83876.666667
dtype: float64

## use labels instead of 0 and 1

In [27]:
data.mean(axis='rows')

RegionID     84344.818837
SizeRank      5414.500000
Zhvi        250307.590028
dtype: float64

In [29]:
data.mean(axis='columns').head()

0    226193.666667
1    214116.000000
2     80042.666667
3     50191.333333
4     83876.666667
dtype: float64

In [22]:
data.drop(0, axis=0).head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300
5,2017-05-31,18959,Las Vegas,NV,Las Vegas,Clark,5,216500

In [23]:
data.drop('Date', axis=1).head()

,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,6181,New York,NY,New York,Queens,0,672400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,17426,Chicago,IL,Chicago,Cook,2,222700
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300

In [24]:
data.filter(regex='Region', axis=1).head()

   RegionID    RegionName
0      6181      New York
1     12447   Los Angeles
2     17426       Chicago
3     13271  Philadelphia
4     40326       Phoenix