In [2]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:300px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [3]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import Pandas

In [4]:
import pandas as pd

## Read in the dataset

In [5]:
data = pd.read_table('data-zillow.csv', sep=',')
data.head()

,Date,RegionID,RegionName,State,Metro,County,SizeRank,Zhvi
0,2017-05-31,6181,New York,NY,New York,Queens,0,672400
1,2017-05-31,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,1,629900
2,2017-05-31,17426,Chicago,IL,Chicago,Cook,2,222700
3,2017-05-31,13271,Philadelphia,PA,Philadelphia,Philadelphia,3,137300
4,2017-05-31,40326,Phoenix,AZ,Phoenix,Maricopa,4,211300


## Check for a substring

In [13]:
data.RegionName.str.contains('New').head()

0     True
1    False
2    False
3    False
4    False
Name: RegionName, dtype: bool

## Make values of a series or column uppercase

In [7]:
data.RegionName.str.upper().head()

0        NEW YORK
1     LOS ANGELES
2         CHICAGO
3    PHILADELPHIA
4         PHOENIX
Name: RegionName, dtype: object

## Make values lowercase

In [8]:
data.County.str.lower().head()

0          queens
1     los angeles
2            cook
3    philadelphia
4        maricopa
Name: County, dtype: object

## Get the length of each value in a column

In [10]:
data.County.str.len().head()

0     6
1    11
2     4
3    12
4     8
Name: County, dtype: int64

## Remove all whitespace from the beginning

In [16]:
data.RegionName.str.lstrip().head()

0        New York
1     Los Angeles
2         Chicago
3    Philadelphia
4         Phoenix
Name: RegionName, dtype: object

## Replace parts of a column's values

In [18]:
data.RegionName.str.replace(' ', '').head()

0         NewYork
1      LosAngeles
2         Chicago
3    Philadelphia
4         Phoenix
Name: RegionName, dtype: object